/* Estilos básicos */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Estilos del contenedor principal*/
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Estilos para el encabezado */
h1 {
    color: #333;
    text-align: center;
}

/* Estilos para los enlaces */
/* pseudoclase :hover cambiar el color del texto al pasar el ratón */

a.example-link {
    color: #0066cc;
    text-decoration: none;
}

a.example-link:hover {
    color: #ff6600;
}

/* Estilos de párrafos */
/* Pseudoelemento ::before añade contenido antes del párrafo */
p.example-paragraph {
    color: #555;
    font-size: 1rem;
}

p.example-paragraph::before {
    content: "Nota: ";
    font-weight: bold;
    color: #ff0000;
}

/* Estilos para la lista */
/* Pseudoclase :nth-child(odd) aplica estilo a los elementos impares */
ul.example-list {
    list-style-type: none;
    padding-left: 0;
}


ul.example-list li {
    padding: 5px;
    background-color: #e0e0e0;
    margin-bottom: 5px;
}

ul.example-list li:nth-child(odd) {
    background-color: #c1c1c1;
}

